* {
    font-family: monospace;
    background: black;
    color: white;
    font-size: 16px;
}

html, body {
    margin: 0;
    border: 0;
    padding: 0;
}

pre {
    margin: 0;
}

.splashscreen {
    padding-top: 0px;
    position: absolute;
    z-index: 999999;
    height: calc(95vh - 100px);
    padding-top: 100px;
    text-align: center;
    width: 100vw;
    background: rgb(0 0 0 / 85%);
}

.splashscreen * {
    background: rgb(0 0 0 / 0%);
}

#help {
    padding: 0;
    height: 95vh;
}

#help pre {
    text-align: center;
}

#quote {
    display: flex;
    justify-content: center;
}

#quote > p {
    padding: 10px;
    max-width: 500px;
}

/* for some reason we need this since #quote is a flexbox otherwise the p will be visible */
[hidden] {
    display: none !important;
}

h1 {
    text-align: center;
    font-size: 30px;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.pane {
    border-top: 1px solid white;
    padding: 8px 0;
    padding-left: 10px;
    overflow-y: hidden;
    scrollbar-color: black black;
}

@media (width <= 800px) {
    #big-help {
        display: none;
    }
}

@media (width > 800px) {
    #little-help {
        display: none;
    }
}

@media (width <= 1000px) {
    .pane {
        grid-column-start: 1;
        grid-column-end: 3;
        height: 35vh;
    }
}

@media (width > 1000px) {
    .pane {
        height: 80vh;
    }
    #code {
        border-right: 1px solid white;
    }
}

@media (width <= 700px) {
    .pane {
        height: 30vh;
    }
    h1 {
        font-size: 20px;
    }
}

#stdout {
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
}

#stdin-pane {
    grid-column-start: 1;
    grid-column-end: 3;
    border-top: 1px solid white;
    padding-top: 10px;
}

#stdin {
    min-width: 0%;
    max-width: 100%;
    border: 0px;
    caret-color: transparent;
}

span:focus {
    outline-width: 0;
    outline: none;
    border: 0px;
}

#stdin-pane {
    height: 20px;
}


